.gallery {
    background-color: $black-600;
    padding-top: 1rem;
    position: relative;
    width: 100%;
    .row {
        display: flex;
        img {
            position: relative;
            width: 100%;
        }
        .image-sec {
            flex-basis: 25%;
            height: 47.2rem;
            width: 100%;
            margin-right: 1rem;
            margin-bottom: 1rem;
            position: relative;
            display: flex;
            .overlay {
                position: absolute;
                left: 0;
                top: 43%;
                height: 50%;
                transition: .5s ease;
                opacity: 0;
                width: 100%;
                text-align: center;
            }
            &:hover .overlay {
                opacity: 1;
            }
            .icon-picture {
                color: $orange;
                font-size: $font-size-L;
                height: 100%;
                font-weight: $font-weight-bold;
            }
        }
        .large-image {
            flex-basis: 50%;
            width: 100%;
        }
        .margin {
            margin-right: 0;
        }
    }
}