$blue: #007bff;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #e83e8c;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #28a745;
$teal: #20c997;
$cyan: #17a2b8;
$white: #fff;
$gray: #6c757d;
$gray-dark: #363636;
$primary: #151515;
$secondary: #6c757d;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$light: #f8f9fa;
$black: #0a0a0a;
$table-bg:#111111;
$dark: #232323;
$font-size-X: 1rem;
$font-size-XII: 1.2rem;
$font-size-XIV: 1.4rem;
$font-size-heading: 1.6rem;
$font-size-XVIII: 1.8rem;
$font-size-title: 3.2rem;
$gray-100: #eee;
$gray-200: #ddd;
$gray-300: #c2c2c2;
$gray-400: #a1a1a4;
$gray-500: #888888;
$gray-600: #333;
$gray-700:#a9a9a9;
$gray-800:rgba(255, 255, 255, .1);
$gray-1000: #c4c4c4;
$gray-1100: #aaa;
$gray-1200: #555555;
$gray-900: #c5c5c5;
$black: #000;
$gray-700:#a9a9a9;
$red: #ed1c24;
$dark-red: #d01219;
$yellow: #ffc418;
$orange: #f36100;
$light-green: #a3cf62;
$green: #00a85f;
$light-blue: #53b7e8;
$dark-blue: #043776;
$carbon: #707073;
$black-200: #464646;
$black-600: #151515;
$primary-color: #f36100;
$background-hover:rgba(255, 255, 255, .1);
$text-color: #fff;
$hover-color: #f36100;
$para-color: #c4c4c4;
$contact-bg-color: #0a0a0a;
$pipe-color: #545454;
$overlay: rgba(0, 0, 0, 0.7);
$detail-bgcol : rgba(0, 0, 0, 0.8);
$bar-color: #2d2d2d;
$bar-shadow: #000005;
$tips-border-color: #1a1a1a;
$info-color: #4d4d4d;
$dropdown-bg: #252525;
$cell-heading: #ffffff1a;
$font-weights: ( "regular": 400, "medium": 500, "medium-high": 600, "bold": 700, "bolder":800);
$font-size-X: 1rem;
$font-size-I: 0.1rem;
$font-size-II: 0.2rem;
$font-size-III: 0.3rem;
$font-size-V: 0.5rem;
$font-size-VIII: 0.8rem;
$font-size-XII: 1.2rem;
$font-size-XIII:1.3rem;
$font-size-XIV: 1.4rem;
$font-size-XV: 1.5rem;
$font-size-XVI: 1.6rem;
$font-size-XVIII: 1.8rem;
$font-size-XX: 2rem;
$font-size-XXII: 2.2rem;
$font-size-XXIV: 2.4rem;
$font-size-XXVIII: 2.8rem;
$font-size-XXX: 3rem;
$font-size-XXXII: 3.2rem;
$font-size-XXXVI: 3.6rem;
$font-size-XL: 4rem;
$font-size-L: 5rem;
$font-size-LII: 5.2rem;
$font-size-LX: 6rem;
$font-size-C: 10rem;
$font-size-CC: 20rem;
$font-weight-regular: 500;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-size-XXIV: 2.4rem;
$font-size-XXX: 3rem;
$font-size-XXXII:3.2rem;
$font-size-XLVIII: 4.8rem;
$font-size-XXXXXX:6rem;
$line-height-X: 1rem;
$line-height-XII: 1.2;
$line-height-XIV: 1.5;
$line-height-XV: 1.5;
$line-height-XXII: 2.2rem;
$line-height-XXIV: 2.4rem;
$line-height-XXVI: 2.6rem;
$line-height-XXVII: 2.7rem;
$line-height-XXX: 3rem;
$line-height-IVVI:4.6rem;
$line-height-LXV: 6.5rem;
$section-margin: 6rem;
$font-face-muli: 'muliregular';
$font-face-oswald: 'oswald_regularregular';
$font-face-sanserif: 'sans-serif';
$letter-spacing:0.375rem;
// Typography
$font-face-base: 'muli';
$font-face-sanserif: 'sans-serif';
//container-width
$container-width: 117rem;
$container-width-desktop: 99.2rem;
$container-width-tablet: 76.2rem;
$container-width-mobile: 58rem;

//